<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="../../favicon.ico">

        <title>{% block document_title %}strayharbor - a list of neat things I found on the internet{% endblock %}</title>

        <link href="/static/vendor/css/vendor.min.css" rel="stylesheet">
        {% block css %}
        {% endblock %}
    </head>
    <body>
        {% block content %}
        {% endblock %}

        <script src="/static/vendor/js/vendor.min.js"></script>
        {% block js %}
        {% endblock %}
    </body>
</html>
