<footer class="sticky-footer">
    <div class="footer-links text-center">
        <a href="https://www.reddit.com/user/strayharbor/">
            <i class="fa fa-reddit-square fa-3x"></i>
        </a>
        <a href="https://github.com/strayduy">
            <i class="fa fa-github-square fa-3x"></i>
        </a>
        <a href="https://twitter.com/strayharbor">
            <i class="fa fa-twitter-square fa-3x"></i>
        </a>
        <a href="https://github.com/strayduy/strayharbor.com">
            <i class="fa fa-code fa-3x"></i>
        </a>
    </div>
</footer>
