<div class="like-entry panel panel-default">
    <div class="panel-body">
        <div class="media">
            <!-- ko if: like.thumbnail && like.thumbnail !== 'self' && like.thumbnail !== 'default' -->
                <div class="media-left">
                    <a data-bind="attr: {href: like.url}">
                        <img data-bind="attr: {src: like.thumbnail}">
                    </a>
                </div>
            <!-- /ko -->
            <div class="media-body">
                <a class="like-title" data-bind="html: like.title, attr: {href: like.url}">
                </a>
                <div class="bottom-links">
                    <div class="pull-left">
                        <a class="like-comments" data-bind="text: like.comments_text, attr: {href: like.permalink}">
                        </a>
                    </div>
                    <div class="pull-right text-right">
                        <a class="like-subreddit" data-bind="text: like.subreddit_text, attr: {href: like.subreddit_url}, style: {backgroundColor: like.subreddit_color}">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
